# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_YmT5PD3xAaJb@ep-weathered-butterfly-a76s9hyj-pooler.ap-southeast-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# Better Auth Configuration
BETTER_AUTH_SECRET=eLlMDErNeheyQrPK7EbORWfOKjnB6HoT