# Patterns to ignore when building packages.
# This supports glob format.
.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.tmproj
.vscode/
tests/
tests/*
!.keep
**/tests/*
!.keep
*.md
LICENSE
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
__pycache__/
*.pyc
.venv/
venv/
ENV/
env/
.next/
out/
build/
dist/
*.sqlite
*.db
